@import 'antd/dist/antd.css';
@import 'ant-desing.css';
@import '@fortawesome/fontawesome-free/css/all.css';
@import url('https://fonts.googleapis.com/css2?family=Anaheim&family=Armata&family=Raleway:wght@300&display=swap');

body{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

img {
    margin: auto;
    display: block;
}

.user-avatar{
    width: 100;
    height: 100;
}

.user-descripcion{
    color:#fff;
}
.descripcion{
    padding: 20px;
    
    text-align: left ;
}
.title-name{
    color: #fff !important;
    text-align: center;
    font-family: 'Armata';
    text-shadow: 400;
    font-size: 30px;
    padding-top: 2vh;
}

.card{
    padding: 1rem;
    border-top: 2px #ccc;
}

.avatar{
    display: block;
    text-align: center;
    margin-top: 10px;
}


